block header
    header.header
        .header__wrapper
            .header__row
                .header__hamburger
                    svg
                        use(xlink:href="assets/icons/sprites.svg#hamburger")
                a.header__logo(href="/")
                    img(src="assets/images/logo.svg", alt="logo")
            .header__info-contacts
                .header__info-address
                    .header__info-icon
                        svg
                            use(xlink:href="assets/icons/sprites.svg#map")
                    .header__info-text г. Москва, Мукомольный проезд, дом 4А, стр. 2, офис 601
                .header__info-column
                    .header__info-schedule
                        .header__info-icon
                            svg
                                use(xlink:href="assets/icons/sprites.svg#time")
                        .header__info-text ПН-ПТ 08:00 - 17:00
                    .header__info-email
                        .header__info-icon
                            svg
                                use(xlink:href="assets/icons/sprites.svg#mail")
                        .header__info-text deganovrest@yandex.ru
            a.header__call(data-src="#popup-call", data-fancybox)
                .header__call-icon
                    svg
                        use(xlink:href="assets/icons/sprites.svg#call")
                .header__call-text Заказать обратный звонок
            .header__social-media
                a.header__btn.header__btn--wa(href="")
                    svg
                        use(xlink:href="assets/icons/sprites.svg#wa")
                a.header__btn.header__btn--tg(href="")
                    svg
                        use(xlink:href="assets/icons/sprites.svg#tg")
                a.header__btn.header__btn--vk(href="")
                    svg
                        use(xlink:href="assets/icons/sprites.svg#vk")
                a.header__btn.header__btn--youtube(href="")
                    svg
                        use(xlink:href="assets/icons/sprites.svg#youtube")
            .header__phone-wrapper
                a.header__phone(href="")
                    .header__phone-icon
                        svg
                            use(xlink:href="assets/icons/sprites.svg#phone")
                    .header__phone-text +7 (495) 621-24-24
            .header__nav
                nav.navigation
                    ul
                        li.has-children
                            a(href="") Услуги
                            .navigation-submenu__wrapper
                                .navigation-submenu__block
                                    ul.navigation-submenu
                                        li.has-children
                                            .navigation__title Реставрация
                                            .navigation-list__wrapper
                                                .navigation-list__block
                                                    ul.navigation-list
                                                        li
                                                            a(href="") Дверей
                                                        li
                                                            a(href="") Столов
                                                        li
                                                            a(href="") Стульев
                                                        li
                                                            a(href="") Кресел
                                                        li
                                                            a(href="") Кухонной мебели
                                                        li
                                                            a(href="") Старинной мебели
                                                        li
                                                            a(href="") Мягкой мебели
                                                        li
                                                            a(href="") Пианино
                                        li.has-children
                                            .navigation__title Покраска
                                            .navigation-list__wrapper
                                                .navigation-list__block
                                                    ul.navigation-list
                                                        li
                                                            a(href="") Матовая эмаль
                                                        li
                                                            a(href="") Глянцевая эмаль
                                                        li
                                                            a(href="") Тонировка
                                                        li
                                                            a(href="") Жемчуг
                                                        li
                                                            a(href="") Жидкая поталь
                                                        li
                                                            a(href="") Мрамор
                                                        li
                                                            a(href="") Металик
                                                        li
                                                            a(href="") Покраска
                        li
                            a(href="") Портфолио
                        li
                            a(href="") Ткани/кожа
                        li
                            a(href="") Цены
                        li
                            a(href="") Отзывы
                        li
                            a(href="") Контакты