---
title: DeganovRest | 404
bodyClass: not-found-page
---

extends includes/_page

block main

    .container
        h1.title-section 404
    
    section.page404
        .container
            .page404__wrapper
                .page404__title 404
                .page404__subtitle Страница не найдена
                a.page404__btn.btn--yellow(href="/") Вернуться на главную