---
title: DeganovRest | Портфолио
bodyClass: catalog-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Портфолио')

    .container
        h1.title-section Портфолио
    
    section.universal
        .container
            .catalog__wrapper
                .catalog__block
                    .catalog__title Реставрация
                    .catalog__grid
                        .portfolio__item
                            .portfolio__img
                                img(src="assets/images/no_photo.jpg")
                                .portfolio__img-btn
                                    span Подробнее
                                    svg
                                        use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            a.portfolio__item-title(href="") Реставрация дверей
                        .portfolio__item(href="")
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-3.jpg")
                                    img(src="assets/images/product-4.jpg")
                            a.portfolio__item-title(href="") Реставрация стола
                        .portfolio__item(href="")
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-2.jpg")
                                    img(src="assets/images/product-1.jpg")
                            a.portfolio__item-title(href="") Реставрация стульев
                        .portfolio__item(href="")
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-3.jpg")
                                    img(src="assets/images/product-4.jpg")
                            a.portfolio__item-title(href="") Реставрация кресла
                        .portfolio__item(href="")
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-2.jpg")
                                    img(src="assets/images/product-1.jpg")
                            a.portfolio__item-title(href="") Реставрация кухонной мебели
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-3.jpg")
                                    img(src="assets/images/product-4.jpg")
                            a.portfolio__item-title(href="") Реставрация строительной мебели
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-2.jpg")
                                    img(src="assets/images/product-1.jpg")
                            a.portfolio__item-title(href="") Реставрация мягкой мебели
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-3.jpg")
                                    img(src="assets/images/product-4.jpg")
                            a.portfolio__item-title(href="") Реставрация пианино
                .catalog__block
                    .catalog__title Покраска
                    .catalog__grid
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-2.jpg")
                                    img(src="assets/images/product-1.jpg")
                            a.portfolio__item-title(href="") Покраска матовой эмалью
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-3.jpg")
                                    img(src="assets/images/product-4.jpg")
                            a.portfolio__item-title(href="") Покраска глянцевой эмалью
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-2.jpg")
                                    img(src="assets/images/product-1.jpg")
                            a.portfolio__item-title(href="") Покраска тонировкой
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-3.jpg")
                                    img(src="assets/images/product-4.jpg")
                            a.portfolio__item-title(href="") Покраска жемчугом
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-2.jpg")
                                    img(src="assets/images/product-1.jpg")
                            a.portfolio__item-title(href="") Покраска жидкой поталью
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-3.jpg")
                                    img(src="assets/images/product-4.jpg")
                            a.portfolio__item-title(href="") Покраска мрамором
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-2.jpg")
                                    img(src="assets/images/product-1.jpg")
                            a.portfolio__item-title(href="") Покраска металиком
                        .portfolio__item
                            .portfolio__images
                                .before-after
                                    img(src="assets/images/product-3.jpg")
                                    img(src="assets/images/product-4.jpg")
                            a.portfolio__item-title(href="") Покраска