---
title: DeganovRest | Мягкая мебель
bodyClass: category-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Портфолио', 'Мягкая мебель')

    .container
        h1.title-section Мягкая мебель
    
    section.section
        .container
            .category
                .category__grid
                    .portfolio__item
                        .portfolio__images
                            .before-after
                                img(src="assets/images/product-2.jpg")
                                img(src="assets/images/product-1.jpg")
                        a.portfolio__item-title(href="") Реставрация поверхности дивана 19 века
                        .portfolio__item-descr 3 дня работы, до и после. Ремонт и реставрация, самовывоз от клиента
                    .portfolio__item
                        .portfolio__images
                            .before-after
                                img(src="assets/images/product-3.jpg")
                                img(src="assets/images/product-4.jpg")
                        a.portfolio__item-title(href="") Реставрация поверхности дивана 19 века
                        .portfolio__item-descr 3 дня работы, до и после. Ремонт и реставрация, самовывоз от клиента
                    .portfolio__item
                        .portfolio__images
                            .before-after
                                img(src="assets/images/product-3.jpg")
                                img(src="assets/images/product-4.jpg")
                        a.portfolio__item-title(href="") Реставрация поверхности дивана 19 века
                        .portfolio__item-descr 3 дня работы, до и после. Ремонт и реставрация, самовывоз от клиента
                    .portfolio__item
                        .portfolio__images
                            .before-after
                                img(src="assets/images/product-2.jpg")
                                img(src="assets/images/product-1.jpg")
                        a.portfolio__item-title(href="") Реставрация поверхности дивана 19 века
                        .portfolio__item-descr 3 дня работы, до и после. Ремонт и реставрация, самовывоз от клиента
                .category__grid
                    .portfolio__item
                        .portfolio__images
                            .before-after
                                img(src="assets/images/product-2.jpg")
                                img(src="assets/images/product-1.jpg")
                        a.portfolio__item-title(href="") Реставрация поверхности дивана 19 века
                        .portfolio__item-descr 3 дня работы, до и после. Ремонт и реставрация, самовывоз от клиента
                    .portfolio__item
                        .portfolio__images
                            .before-after
                                img(src="assets/images/product-3.jpg")
                                img(src="assets/images/product-4.jpg")
                        a.portfolio__item-title(href="") Реставрация поверхности дивана 19 века
                        .portfolio__item-descr 3 дня работы, до и после. Ремонт и реставрация, самовывоз от клиента
                    .portfolio__item
                        .portfolio__images
                            .before-after
                                img(src="assets/images/product-3.jpg")
                                img(src="assets/images/product-4.jpg")
                        a.portfolio__item-title(href="") Реставрация поверхности дивана 19 века
                        .portfolio__item-descr 3 дня работы, до и после. Ремонт и реставрация, самовывоз от клиента
                    .portfolio__item
                        .portfolio__images
                            .before-after
                                img(src="assets/images/product-2.jpg")
                                img(src="assets/images/product-1.jpg")
                        a.portfolio__item-title(href="") Реставрация поверхности дивана 19 века
                        .portfolio__item-descr 3 дня работы, до и после. Ремонт и реставрация, самовывоз от клиента
            a.btn--center.btn--black(href="")
                svg
                    use(xlink:href="assets/icons/sprites.svg#img")
                span Смотреть ещё