---
title: DeganovRest | Мягкая мебель
bodyClass: service-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Услуги', 'Мягкая мебель')

    .container
        h1.title-section Мягкая мебель
    
    section.universal
        .container
            .service__wrapper
                .service__image
                    img(src="assets/images/no_photo.jpg")
                //- .service__left
                //-     .service__slider.swiper-container
                //-         .swiper-wrapper
                //-             .service__slide.swiper-slide
                //-                 .before-after.before-after--detailed
                //-                     img(src="assets/images/product-2.jpg")
                //-                     img(src="assets/images/product-1.jpg")
                //-             .service__slide.swiper-slide
                //-                 .service__img
                //-                     img(src="assets/images/product-2.jpg")
                //-             .service__slide.swiper-slide
                //-                 .service__img
                //-                     img(src="assets/images/product-1.jpg")
                //-     .service__slider-wrapper
                //-         .swiper-container.service__slider--thumbs
                //-             .swiper-wrapper
                //-                 .swiper-slide.service__slide--thumbs
                //-                     .before-after--mini
                //-                         img(src="assets/images/product-2.jpg")
                //-                         img(src="assets/images/product-1.jpg")
                //-                 .swiper-slide.service__slide--thumbs
                //-                     .service__img
                //-                         img(src="assets/images/product-2.jpg", alt="product")
                //-                 .swiper-slide.service__slide--thumbs
                //-                     .service__img
                //-                         img(src="assets/images/product-1.jpg", alt="product")
                //-         .swiper-button-prev.service-button-prev
                //-             svg
                //-                 use(xlink:href="assets/icons/sprites.svg#arrow-left")
                //-         .swiper-button-next.service-button-next
                //-             svg
                //-                 use(xlink:href="assets/icons/sprites.svg#arrow-right")
                //-     .swiper-pagination.service-pagination
                .service__right
                    .subtitle Мягкая мебель
                    .service__descr
                        p Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление однозначно фиксирует необходимость прогресса профессионального сообщества. Равным образом, высокое качество позиционных исследований влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. Внезапно, диаграммы связей формируют глобальную экономическую сеть и при этом —  смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. И нет сомнений, что ключевые особенности структуры проекта обнародованы! Внезапно, многие известные личности заблокированы в рамках своих собственных рациональных ограничений.
                        p Не следует, однако, забывать, что разбавленное изрядной долей эмпатии, рациональное мышление однозначно фиксирует необходимость прогресса профессионального сообщества. Равным образом, высокое качество позиционных исследований влечет за собой процесс внедрения и модернизации инновационных методов управления процессами. Внезапно, диаграммы связей формируют глобальную экономическую сеть и при этом —  смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. И нет сомнений, что ключевые особенности структуры проекта обнародованы! Внезапно, многие известные личности заблокированы в рамках своих собственных рациональных ограничений.
                    .service__btns
                        a.btn--black(data-src="#popup-call", data-fancybox)
                            svg
                                use(xlink:href="assets/icons/sprites.svg#call")
                            span Заказать звонок
                        a.btn--black(href="")
                            svg
                                use(xlink:href="assets/icons/sprites.svg#img")
                            span Портфолио