---
title: DeganovRest | Услуги
bodyClass: services-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Услуги')

    .container
        h1.title-section Наши услуги
    
    section.universal
        .container
            .services__wrapper
                .services__block
                    .services__title Реставрация
                    .services__grid
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-1.jpg", alt="service")
                            .card__subtitle Реставрация
                            .card__title Дверей
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-2.jpg", alt="service")
                            .card__subtitle Реставрация
                            .card__title Стола
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-3.jpg", alt="service")
                            .card__subtitle Реставрация
                            .card__title Стульев
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-4.jpg", alt="service")
                            .card__subtitle Реставрация
                            .card__title Кресла
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-5.jpg", alt="service")
                            .card__subtitle Реставрация
                            .card__title Кухонной мебели
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-6.jpg", alt="service")
                            .card__subtitle Реставрация
                            .card__title Старинной мебели
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-7.jpg", alt="service")
                            .card__subtitle Реставрация
                            .card__title Мягкой мебели
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-8.jpg", alt="service")
                            .card__subtitle Реставрация
                            .card__title Пианино
                .services__block
                    .services__title Покраска
                    .services__grid
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-9.jpg", alt="service")
                            .card__subtitle Покраска
                            .card__title Матовая эмаль
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-10.jpg", alt="service")
                            .card__subtitle Покраска
                            .card__title Глянцевая эмаль
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-11.jpg", alt="service")
                            .card__subtitle Покраска
                            .card__title Тонировка
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-12.jpg", alt="service")
                            .card__subtitle Покраска
                            .card__title Жемчуг
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-13.jpg", alt="service")
                            .card__subtitle Покраска
                            .card__title Жидкая поталь
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-14.jpg", alt="service")
                            .card__subtitle Покраска
                            .card__title Мрамор
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-15.jpg", alt="service")
                            .card__subtitle Покраска
                            .card__title Металик
                        a.card(href="")
                            .card__btn
                                span Подробнее
                                svg
                                    use(xlink:href="assets/icons/sprites.svg#arrow-more")
                            .card__img
                                img(src="assets/images/service-16.jpg", alt="service")
                            .card__subtitle Покраска
                            .card__title Покраска